<h1>Recipes</h1>
<% @recipes.each do |recipe| %>
  <div class="card" style="width: 18rem;">
    <img src="https://rb.gy/zb99h" class="card-image" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title %></h5>
      <p class="card-text"><%= recipe.description %></p>
      <a href="http://localhost:3000/recipes/<%=recipe.id%>" class="btn btn-primary">See more</a>
    </div>
  </div>
<%end%>
  
