<h1>Recipes</h1>
<% @recipes.each do |recipe| %>
  <h2><%= recipe.title %><h2>
  <img src="https://rb.gy/zb99h" 
  width= "200" height= "200"/>
  <h3><%= recipe.timetocook%></h3>
  <p>Description: <%= recipe.description %></p>
  <p>Steps: <%= recipe.steps%></p>
<%end%>
  
